################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/SVGMaster/v15/Server/sqlite3
/SVGMaster/obj/Debug
/SVGMaster/bin/Debug
